VCardFormatError: Invalid line ending

code:

<pre>
    for f in args:
        file_opened = open(f, "r")
        result = VCard(file_opened.read())
        if result is not None:
            print(result + '\n')
</pre>

error:

<pre>
Traceback (most recent call last):
  File "vcard.py", line 471, in <module>
    sys.exit(main())
  File "vcard.py", line 465, in main
    result = VCard(file_opened.read())
  File "vcard.py", line 360, in __init__
    lines = unfold_vcard_lines(self.text.splitlines(True))
  File "vcard.py", line 65, in unfold_vcard_lines
    {'File line': index + 1})
vcard_validators.VCardFormatError: Invalid line ending; should be \r\n (See RFC
2426 section 2.4.2 for details)
File line: 1
</pre>

The actual line endings seems correct.
The same vcard parses just fine in other programs.

EDIT: opening the file with "codecs.open(f, 'r', 'utf-8')" fixed the newline issue,
but now i'm getting

<pre>
vcard_validators.VCardFormatError: Invalid value count (See RFC 2426 section 3 for details): 2 (expected 5)
vCard line: 2
Property: N
Property line: N:Surname;Name
</pre>
