vcard doesn't accept custom field type

RFC 2426 says fields such as ADR and TEL can have non-standard type prefixed by x called "x-name". 

```
adr-type     = "dom" / "intl" / "postal" / "parcel" / "home"
                / "work" / "pref" / iana-type / x-name
```

But Vcard doesn't allow them:

```
Invalid parameter value (See RFC 2426 section 4 for param-value syntax): x-other
File: ../ldif2vcf/campus.vcf
File line: 14
vCard line: 11
Property: ADR
Property line: ADR;TYPE=x-other:;H5108C;;;;;
```

Is this a design choice ?
