Escaped commas are not handled as such

For example:

```
FN:Doe\, Doe\, and Doe
```

This should be handled as a single name, but instead `vcard` reports "Invalid subvalue count (See RFC 2426 section 3 for details): 3 (expected 1)"
